.header {
  background-color: #001A2E;
  padding: 37px;
}

.header .container {
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.menus {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0px 8%;
  list-style: none;
  color: #FFFFFF;
  font-size: 16px;
}

.login {
  display: flex;
  justify-content: space-between;
  width: 30%;
  align-items: center;
}

.login span {
  color: #ffffff;
}

.section {
  background-color: #001A2E;
}

.intro {
  margin-left: 60px;
  margin-top: 190px;
}

.intro .first {
  font-size: 70px;
  color: #FFFFFF;
  opacity: 1;
}

.intro p:last-child {
  margin-bottom: 201px;
  font-size: 18px;
  color: #B0C7D9;
}

.background_logo {
  position: relative;
}

.over_wrapper {
  position: absolute;
  top: 24%;
  left: 15%;
  opacity: .9;
}

.candidate_left h5 {
  color: #F14E9B;
  font-weight: normal;
  font-size: 18px;
  margin-top: 141px;
}

.candidate_left h3 {
  margin-top: 18px;
  font-weight: normal bold;
  font-size: 42px;
}

.candidate_left p {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 40px;
}

.candidate_left button {
  padding: 11px 30px;
  font-size: 14px;
}
.main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 100px;
}
.card_main {
  margin: 20px;
  width: 200px;
  height: 216px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #E6E6E6;
  border-radius: 10px;
  opacity: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section3{
  text-align: center;
}
.section3 h4{
margin-top: 100px;
font-size: 42px;
margin-bottom: 20px;
}
.section3 p {
  font-size: 14px;
  font-weight: normal;
}
.card_main h5{
  font-size: 30px;
}
.card_main ._65+{
border-bottom: 2px solid #E6E6E6;
}